body{
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #00a6ff;
    color: white;
}

.title{
    font-size: 5rem;
    color:black;
    text-shadow: 10px 10px 1rem white;
}

main{
    display: flex;
    justify-content:center;
}

.triqui{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    height: 30rem;
    width: 30rem;
}

button{
    height: 8rem;
    width: 8rem;
    border-radius: 20%;
    font-size: 6rem;
    color: white;
    background-color: #b4e5ff;
    box-shadow: 10px 10px 1rem black;
    text-shadow: 1px 1px 5px black;
}

button:hover{
    box-shadow: 1px 1px 5px black;
    transition: 0.1s;
}